@media screen and (max-width: 1000px) {
    .table-data,
    .table-header {
        float:left; 
    }

    .table-data:nth-child(n) {
        clear:both;
    }

    .table-header:nth-child(n) {
        clear:both;
    }

    .table-button {
        float:left;
        clear:both;
    }
}