.lobster {
    font-family: "Lobster", "helvetica";
}

#search-form {
    height: 200px;
}

#checkin {
    height: 60px;
}

#checkout {
    height: 60px;
}

#city {
    height: 60px;
}

.height {
    height: 300px;
}