.lobster {
    font-family: "Lobster", "helvetica";
}

#search-form {
    height: 200px;
}

#checkin {
    height: 60px;
}

#checkout {
    height: 60px;
}

#city {
    height: 60px;
}

.height {
    height: 500px;
}

@media screen and (max-width: 772px) {

    .headers {
        font-size: 10px;
    }

}

@media screen and (max-width: 640px) {
    .links {
        font-size: 14px;
    }

    .title {
        font-size: 30px;
    }
}

@media screen and (max-width: 577px) {
    .links {
        font-size: 8px;
    }
}